<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1}: %m%n"/>
        </layout>
    </appender>

    <!--
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Threshold" value="TRACE"/>
        <param name="File" value="./cljmx.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="@%t %d{ABSOLUTE} %-5p [%c{10}] %m%n"/>
        </layout>
    </appender>
    -->

    <!--
        Categories requires to troubleshoot remoting.
    -->

    <!--
    <category name="org.jboss.as.domain.management.security">
        <priority value="TRACE"/>
    </category>
    <category name="org.jboss.sasl">
        <priority value="TRACE"/>
    </category>
    <category name="org.jboss.security">
        <priority value="TRACE"/>
    </category>
    <category name="org.jboss.as.ejb3">
        <priority value="TRACE"/>
    </category>
    <category name="org.jboss.as.remoting">
        <priority value="TRACE"/>
    </category>
    <category name="org.jboss.remoting3">
        <priority value="TRACE"/>
    </category>
    <category name="org.jboss.remoting">
        <priority value="TRACE"/>
    </category>
    -->

    <root>
        <!--
            <level value="TRACE"/>
        -->
        <appender-ref ref="CONSOLE"/>

        <!--
        <appender-ref ref="FILE"/>
        -->
    </root>

</log4j:configuration>

